
@model eCommerceSite.Models.User
@{
    ViewBag.Title = "Account Information";
}

<h2>Account Information</h2>


<div>
    <h4>@Model.Name</h4>
    <ul>
        <li>Billing: @Model.Billing</li>
        <li>Shipping: @Model.Shipping</li>
        <li>Payment: @Model.Payment</li>
    </ul>
</div>
<div>
    <input type="button" class="btn btn-primary btn-lg" value="Edit" onclick="location.href='@Url.Action("Edit","User", new { id = Model.Id })'" />
</div>   
