@model eCommerceSite.Models.Bundle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <ul>
        <li>Type: @Model.Type.Name</li>
        <li>Cost: @Model.Cost</li>
        <li>Number in Stock: @Model.NumberInStock</li>
    </ul>
</div>
<div>
    <input type="button" value="Add To Cart" onclick="location.href='@Url.Action("AddToCart","Cart", new { id = Model.Id })'" />
    <input type="button" value="Return to Bundles" onclick="location.href='@Url.Action("Index","Bundles")'" />
</div>
